.App{
    background-image: url('../public/bg.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  opacity: .7;
}

.stringsWrapper{
   
    color: white;
    margin: 10%;
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    flex-wrap: wrap;
    width: 893px;
    margin-left: -41px;
}
.wrapper{
    padding-top:100px;
    padding-bottom:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nodeBox{
    _background-color: #7D6E83;
    min-width:100px;
    min-height: 20px;
    border-right: solid 2px #fff;
    border-top: solid 1px #fff;
    
}
.nodeBox:hover {
   background-color: #1110102b ;
}

.nodeboxesHolder{
    height: 300px;
    background: #7D6E83;
    display: flex;
    align-items: center;
    border-radius: 50px;
}

#music {
    height: 400px;
}

.musical-note{
    width: 43px;
    margin-left: 52px;
    position: absolute;
}

.strings {
    position: absolute;
    z-index: 99;
    width: 892px;
}

.strings hr {
    margin-bottom: 20px;
}

.bottom-border {
    border-bottom: solid 1px white;
}

