.App{
    background-color: #F7E2E2;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  opacity: .7;
  height: 753px;
}

.stringsWrapper{
   
    color: white;
    margin: 10%;
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    flex-wrap: wrap;
    width: 893px;
    margin-left: -41px;
}
.wrapper{
    padding-top:100px;
    padding-bottom:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nodeBox{
    _background-color: #7D6E83;
    min-width:100px;
    min-height: 9px;
    _border-right: solid 2px black;
    border-top: solid 1px  black;
    box-shadow: 0px 0px 8px 0px #dbbca1c9;
    
}
.nodeBox:hover {
   background-color: #1110102b ;
}

.nodeboxesHolder{
    height: 300px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 50px;
    box-shadow: 1px 1px 8px 0px #111110c9;
}

#music {
    height: 400px;
}

.musical-note{
    width: 14px;
    margin-left: 87px;
    position: absolute;
}

.strings {
    position: absolute;
    z-index: 99;
    width: 892px;
}

.strings hr {
    margin-bottom: 20px;
}

.bottom-border {
    _border-bottom: solid 1px black;
}

.top-border{
    border-top: none ;
}

.play-button, .delete-button, .harmoize-button {
    width: 40px;
    height: 38px;
    float: left;
    background: #61A4BC;
    transform: scale(1.5);
    border-radius: 6px;
    margin-left: 30px;
    text-align: left;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.play-button {
    font-size: 20px;
}

.action-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 56%;
    
}

.harmonize-button {
    transform: scale(2);
    border-radius: 5px;
    font-weight: bold;
    background: #5B7DB1;
    margin-right: 60px;
    cursor: not-allowed;
    _opacity: .9;
    height: 36px;
    width: 100px;
}

.border-top{
    border-top: none; 
}